/*Id de Contenido---------------------------------*/
#wrapper {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenido {
    width: 70%;
    position: relative;
    text-align: center;
}

#infoCliente {
    width: 30%;
    justify-content: center;
    align-content: center;
}

#stats,
#infoCliente,
#deportes {
    float: left;
    padding: 2rem;
    margin: 1rem;
    height: 100%;
}

#deportes {
    width: 100%;
    clear: left;
    text-align: center;
}

/*Clases-------------------------------------------*/
.fotoPerfil {
    border: 3px green solid;
    border-radius: 2rem;
    width: 100%;
    font-size: 10vw;
    text-align: center;
}

.detallesCliente {
    text-align: justify;
    margin-top: 1rem;
}

.detallesTexto {
    font-size: 1vw;
}

.stats {
    width: 100%;
    height: 100%;
}

.tituloStats {
    color: #FFF;
    background-color: rgba(0, 0, 0, 1);
    border-width: 3px 3px 0;
    border-color: green;
    border-style: solid;
    border-radius: 2rem 2rem 0 0;
    margin: 0;
}

.imagenStats {
    height: 45vh;
}

.imagenDeportes {
    font-size: 20vh;
}

.imagenDeportes,
.imagenStats {
    width: 100%;
    border-width: 0 3px 3px;
    border-color: green;
    border-style: solid;
    border-radius: 0 0 2rem 2rem;
}
