#padre {
   display: flex;
   justify-content: center;
   align-items: center;
}

#hijo {
	line-height: 55rem;
    text-align: center;
    color: white;
}

#hijo h3 small a:hover{
    color: white;
    text-decoration: none;
}